
th:nth-child(2n){
    background-color: aquamarine;
    align-content: center;
}
th:nth-child(2n-1){
    background-color: blueviolet;
}
tr:nth-child(2n){
    background-color: darkgrey;
}
td{
    text-align: center;
}
table{
    width: 65%;
}
div{
    margin-top: 5%;
    margin-left: 25%;
    text-align: center;
}