*{
    background-color: beige;
}
[src]{
    margin-left: 43%;
}
h1{
    text-align: center;
}
hr{
    width: 70%;
}
#restaurant{
        margin-left: 15%;
}
#catering{
    margin-left: 15%;
}
#location{
    margin-left: 15%;
}
h3{
    color: chocolate;
}